* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.promo {
    height: 800px;
    background: url('../img//bg/main_bg.png') center center/cover no-repeat;
    padding: 39px 0 61px 0;
}

.container {
    width: 1140px;
    margin: 0px auto;
}


.promo img {
    display: block;
    margin: 0 auto;
}

.logo .text {
    color: white;
    display: block;
    margin: 0 auto;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 14px;
}

.title {
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 41px;
    line-height: 41px;
    text-align: center;
    text-transform: uppercase;
    color: #F9BF3B;
    margin: 53px 0px 0px;
}

hr {
    display: inline-block;
    width: 280px;
}

.simple h2 {
    display: inline-block;
    vertical-align: middle;
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 80px;
    line-height: 80px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 21px 0px;
}

.title4 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 41px;
    line-height: 41px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 22px;
    color: #F9BF3B;
}

.general_text {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 21px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
}

.free {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 28px;
    color: #F9BF3B;
}

.button_regiter {
    display: block;

    font-family: RobotoCondensed;
    font-size: 21px;
    line-height: 24px;
    /* identical to box height, or 114% */


    text-align: center;
    text-transform: uppercase;

    color: #FFFFFF;

    text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.22);


    background: linear-gradient(0deg, #2798B9 0%, #3AB6DA 100%);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
    border: 0;
    padding: 24px 15px;
    margin: 72px auto;
}

.more_info {
    font-family: Roboto;
    font-style: normal;
    font-weight: 100;
    font-size: 15px;
    line-height: 24px;

    text-align: center;
    text-transform: uppercase;
    margin-bottom: 5px;
    color: #FFFFFF;
}